.fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../imagenes/star-wars.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

.container {
  height: 20%;
  width: 40%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 1;
}

.texto {
  color: white;
}

.titulo {
  font-size: 3.5em;
  padding: 0;
  margin-top: -1%;
  margin-bottom: -2%;
}

.info {
  margin-left: 0;
  font-size: 1.1em;
}

.imagen {
  width: 80%;
  height: 340px;
  border-radius: 2%;
}
@media (min-width: 280px) and (max-width: 380px) {
  .container {
    height: 20%;
    width: 65%;
    margin: auto;
    margin-top: 5%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1;
  }
  .titulo {
    font-size: 1.8em;
    padding: 0;
    margin-top: -1%;
    margin-bottom: -2%;
  }

  .info {
    margin-left: 0;
    font-size: 0.75em;
  }

  .imagen {
    width: 90%;
    height: 140px;
    border-radius: 2%;
  }
}
@media (min-width: 381px) and (max-width: 576px) {
}
@media (min-width: 577px) and (max-width: 767px) {
}
@media (min-width: 800px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1600px) {
}
