.container {
  display: flex;
  align-items: center; /* Alinear verticalmente */
  padding: 10px;
  color: white;
  margin-top: 0;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: transparent !important;
}

.playContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navLinks {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navLinks a {
  color: white;
  text-decoration: none;
  margin-right: 10px; /* Ajusta el espaciado entre los enlaces */
  padding: 5px;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #00ff00;
}

.searchbar {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.title {
  color: white;
  font-size: 2em;
}
