.link {
  padding: 0 6%;
  margin-bottom: 6%;
}
.card {
  width: 550px;
  height: 350px;
  border-radius: inherit;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.card_container {
  width: 100%;
  height: 350px;
  position: relative;
  border-radius: 10px;
}

.card_container::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.card .img_content {
  width: 100%;
  height: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  transition: scale 0.6s, rotate 0.6s, filter 1s;
}
.card .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: #e8e8e8;
  line-height: 1.5;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(50px);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.card:hover .content {
  opacity: 1;
  transform: translateY(0);
}

.card:hover .img_content {
  scale: 2.5;
  rotate: 20deg;
  filter: blur(7px);
}
@media (min-width: 280px) and (max-width: 380px) {
  .card {
    width: 300px;
    height: 180px;
    border-radius: inherit;
    overflow: hidden;
    margin: 2% 2%;
  }

  .card_container {
    width: 100%;
    height: 150px;
    position: relative;
    border-radius: 10px;
  }
}
@media (min-width: 381px) and (max-width: 576px) {
  .card {
    width: 320px;
    height: 200px;
    border-radius: inherit;
    overflow: hidden;
    padding-top: 6%;
  }

  .card_container {
    width: 100%;
    height: 150px;
    position: relative;
    border-radius: 10px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .card {
    width: 320px;
    height: 200px;
    border-radius: inherit;
    overflow: hidden;
    padding-top: 6%;
  }

  .card_container {
    width: 100%;
    height: 150px;
    position: relative;
    border-radius: 10px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .card {
    width: 420px;
    height: 300px;
    border-radius: inherit;
    overflow: hidden;
    padding-top: 1%;
  }

  .card_container {
    width: 100%;
    height: 150px;
    position: relative;
    border-radius: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
}
