.fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../imagenes/star-wars.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}
.container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 60%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 1;
}
.titulo {
  color: white;
  margin-bottom: 20px;
  font-size: 3em;
  margin-top: 0;
}

.formGroup {
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputGroup {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-around;
}
.grupo {
  display: flex;
  width: 40%;
  flex-direction: column;
}
.grupaso {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.grupito {
  width: 40%;
  align-items: center;
  text-align: center;
}

.label {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: black;
  background-color: #b0b3b4;
}

.error {
  color: red;
  margin-top: 5px;
  font-size: 1em;
}

.checkboxGroup {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.checkboxGroup label {
  margin-right: 10px;
}

.optionGenre {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: black;
  background-color: #b0b3b4;
  margin-bottom: 10px;
}

.escondido {
  display: none;
}
.button {
  height: 2.5em;
  width: 8em;
  position: relative;
  background-color: #434343;
  color: white;
  font-size: 1.5em;
  border: 2px solid rgba(255, 0, 0, 0.5);
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  transition: all 500ms ease;
  font-weight: 700;
  z-index: 0;
}
.button::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: rgba(255, 0, 0, 0.5);
  transition: all 500ms ease;
  z-index: -1;
}
.button::before {
  width: 0;
  height: 100%;
}
.button:hover {
  color: white;
}
.button:hover::before {
  width: 100%;
}
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
@media (min-width: 280px) and (max-width: 380px) {
  .titulo {
    color: white;
    margin-bottom: 20px;
    font-size: 1.8em;
    margin-top: 0;
  }
  .container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 70%;
    margin: auto;
    margin-top: 5%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1;
  }
  .label {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .error {
    color: red;
    margin-top: 5px;
    font-size: 0.7em;
  }
  .grupo {
    display: flex;
    width: 45%;
    flex-direction: column;
  }
  .button {
    height: 2.5em;
    width: 8em;
    position: relative;
    background-color: #434343;
    color: white;
    font-size: 1em;
    border: 2px solid rgba(255, 0, 0, 0.5);
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    transition: all 500ms ease;
    font-weight: 700;
    z-index: 0;
  }
}
@media (min-width: 381px) and (max-width: 576px) {
  .titulo {
    color: white;
    margin-bottom: 20px;
    font-size: 1.8em;
    margin-top: 0;
  }
  .container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 75%;
    margin: auto;
    margin-top: 5%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1;
  }
  .label {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .error {
    color: red;
    margin-top: 5px;
    font-size: 0.8em;
  }
  .grupo {
    display: flex;
    width: 45%;
    flex-direction: column;
  }
  .button {
    height: 2.5em;
    width: 8em;
    position: relative;
    background-color: #434343;
    color: white;
    font-size: 1em;
    border: 2px solid rgba(255, 0, 0, 0.5);
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    transition: all 500ms ease;
    font-weight: 700;
    z-index: 0;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .titulo {
    color: white;
    margin-bottom: 20px;
    font-size: 2.5em;
    margin-top: 0;
  }
  .container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 82%;
    margin: auto;
    margin-top: 5%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1;
  }
  .label {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .error {
    color: red;
    margin-top: 5px;
    font-size: 1em;
  }
  .grupo {
    display: flex;
    width: 45%;
    flex-direction: column;
  }
  .button {
    height: 2.8em;
    width: 8em;
    position: relative;
    background-color: #434343;
    color: white;
    font-size: 1.2em;
    border: 2px solid rgba(255, 0, 0, 0.5);
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    transition: all 500ms ease;
    font-weight: 700;
    z-index: 0;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .titulo {
    color: white;
    margin-bottom: 20px;
    font-size: 2.5em;
    margin-top: 0;
  }
  .container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 82%;
    margin: auto;
    margin-top: 2%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1;
  }
  .label {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .error {
    color: red;
    margin-top: 5px;
    font-size: 1em;
  }
  .grupo {
    display: flex;
    width: 45%;
    flex-direction: column;
  }
  .button {
    height: 2.8em;
    width: 8em;
    position: relative;
    background-color: #434343;
    color: white;
    font-size: 1.2em;
    border: 2px solid rgba(255, 0, 0, 0.5);
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    transition: all 500ms ease;
    font-weight: 700;
    z-index: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
}
