.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  color: #f2ac29;
  background-color: #3f1140;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.titulo {
  margin-bottom: 20px;
  font-size: 18px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #f2ac29;
  background-color: #551073;
}

.error {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}

.checkboxGroup {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.checkboxGroup label {
  margin-right: 10px;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #f2ac29;
  font-weight: bold;
  cursor: pointer;
  background-color: #731007;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.optionGenre {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #f2ac29;
  background-color: #551073;
  margin-bottom: 10px;
}

.escondido {
  display: none;
}
