.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}

.input {
  width: 260px;
  height: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  caret-color: #f7f7f8;
  color: #fff;
  padding: 7px 10px;
  border: 2px solid transparent;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-right: 1px;
  transition: all 0.2s ease;
}

.input:hover {
  border: 2px solid rgba(255, 255, 255, 0.16);
}

.input:focus {
  border: 2px solid rgba(255, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.16);
}

.search__btn {
  border: none;
  cursor: pointer;
  background-color: rgba(42, 42, 45, 1);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__btn:hover {
  background-color: rgba(54, 54, 56, 1);
}
@media (min-width: 280px) and (max-width: 380px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
  }
  .input {
    width: 60px;
    height: 100%;
    outline: none;
    font-size: 0.5em;
    font-weight: 600;
    background-color: white;
    caret-color: #f7f7f8;
    color: #fff;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-right: 1px;
    transition: all 0.2s ease;
  }
}
@media (min-width: 381px) and (max-width: 576px) {
}
@media (min-width: 577px) and (max-width: 767px) {
}
@media (min-width: 800px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1600px) {
}
