.input {
  padding: 5px;
  border: none;
  background-color: #f2ac29;
  color: #3f1140;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}

.button {
  padding: 5px 10px;
  background-color: #d92211;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #731007;
}
