.input {
  padding: 5px;
  border: none;
  background-color: transparent;
  color: #0e69de;
  margin-right: 5px;
  transition: background-color 0.3s ease;
  border-bottom: 2px solid white;
}

.button {
  padding: 5px 10px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom: 2px solid white;
}

.button:hover {
  background-color: #0e69de;
}
